@media (max-width: 450px) {
    .main-content__title {
        text-align: center;
        font-size: 30px;
    }

    .main-content__paragraph {
        text-align: center;
        font-size: 10px;
    }
}
