body {
    background-color: #37474f;
}

.row {
    border-radius: none;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: auto;
    background-color: #37474f;
    padding: 20px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  #f5f6fa;
}

.card div span {
    color: #939fa5;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card div h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.card div p {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 200;
    text-align: left;
    padding: 0px 10px 10px 10px;
}

.card div a {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
    background-color: #939fa5;
    color: #37474f;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}

.card div a:hover {
    background-color: #f1c40f;
}